/node_modules
*.log
.DS_Store
/public/data/tmp
/public/data/image
/public/data/install.lock
/test.js
/src/data/*
/src/config/config.json
/public/static/MathJax-2.4-latest.zip
/public/static/editor/MathJax/*
