extends ../common/layout

block bodyheader
  div.user-header.segment
    - var u = page;
    include ./user-cover
    .user-nav-tabs
      .ui.secondary.pointing.menu
        block nav-tabs

block content
  .user-form
    block user-form

block script
  block subscript
  script(type='text/javascript').
    !function ($) {
      // update cover & page-top
      function displayUserCover(settop) {
        var img = $('.header .user-front-cover img')[0];
        var h = img.naturalHeight ? img.naturalHeight : img.height;
        var w = img.naturalWidth ? img.naturalWidth : img.width;
        var container = $('.header .user-cover');
        var info_h = $('.header .user-info').height();
        var container_w = container.width();
        var old_h = container.height();
        h = h * container_w / w;
        if (h > 675) {
          h = 675;
        }
        container.addClass('cover-loaded').css({ 'height': h.toFixed(3) + 'px' });
        if (settop) {
          $('body').scrollTop(h - info_h - 39);
        } else {
          var t = $('body').scrollTop();
          $('body').scrollTop(t + (h - old_h));
        }
      }
      
      // events
      $(document).ready(function () {
        var resizeTimer = null;
        function doResize() {
          resizeTimer = null;
          displayUserCover(false);
        }
        window.onresize = function () {
          if (resizeTimer != null) {
            clearTimeout(resizeTimer);
          }
          resizeTimer = setTimeout(doResize, 300);
        };
      });
      
      $('.header .user-front-cover img').one('load', function () {
        displayUserCover(true);
      }).each(function () {
        if (this.complete) $(this).load();
      });
    }(window.jQuery);
