extends ../common/layout

block bodyheader
  div.user-header.segment
    - var u = page;
    include ./user-cover
    .user-nav-tabs
      .ui.secondary.pointing.menu
        block nav-tabs

block content
  .user-form
    block user-form

block script
  block subscript
  script(type='text/javascript').
    !function ($) {
      $('body').scrollTop(675 - 160 - 39);
    }(window.jQuery);
