extends ../common/layout

block bodyheader
  div.user-header.segment
    - var u = page;
    include ./user-cover
    .user-nav-tabs
      .ui.secondary.pointing.menu
        block nav-tabs

block content
  .user-form
    block user-form

block script
  block subscript
  script(type='text/javascript').
    !function ($) {
      //$(document).ready(function () {
        $('.header .user-front-cover img').one('load', function () {
          var h = this.height;
          console.log('height', h, this);
          $('.header .user-cover').addClass('cover-loaded').css('height', h.toString() + 'px');
          $('body').scrollTop(h - 160 - 39);
        }).each(function () {
          if (this.complete) $(this).load();
        });
      //});
    }(window.jQuery);
