extends errorlayout
      
block error-form
  .annotation
    pre.text-error {
        br
        |   "err": {
        br
        |     "code": 404,
        br
        |     "msg": "Not Found"
        br
        |   }
        br
        | }