extends errorlayout
      
block error-form
  .annotation
    .ui.instructive.segment
      h2.text-error {
        br
        |   "err": {
        br
        |     "code": 404,
        br
        |     "msg": "Not Found"
        br
        |   }
        br
        | }