.simple-banner
  .h.jumbotron.subhead
    .container
      h1.sustc-title= lang.base_title
    .sustc-logo
//.banner
  .background-window
    a.logo(href=base.rooturl + '/')
      img(src=base.rooturl + '/static/img/SUlogo.png')